# Enable Rewrite Engine
RewriteEngine On

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Allow access to specific PHP files
<FilesMatch "^(?!index\.php$|admin/.*\.php$).*\.php$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Map Clean URLs to PHP Files
RewriteRule ^admin/login$ admin/login.php [L]

# Prevent Access to Hidden Files
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

